<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>ინვოისის გენერაცია</mat-card-title>

        <div class="example-container m-t-20">
          <div *ngIf="isLoadingResults" class="example-loading-shade">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>

          <form #filterForm="ngForm" autocomplete="off">
            <div class="align-items-center" fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-md="40">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input [(ngModel)]="srchObj.name" matInput name="srchname" placeholder="სახელი"
                           (keydown.enter)="getMainData()" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="40">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input [(ngModel)]="srchObj.identNumber" matInput name="identNumber" placeholder="საიდენტიფიკაციო #"
                           (keydown.enter)="getMainData()" type="text">
                  </mat-form-field>
                </div>
              </div>

              <div fxFlex="100" fxFlex.gt-md="20">
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <button (click)="getMainData()" color="primary" mat-raised-button>
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <button (click)="clearFilters()" color="accent" mat-raised-button>
                      <mat-icon>close_outline</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="example-table-container responsive-table">
            <table [dataSource]="data" class="example-table striped" mat-table>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell> სახელი</th>
                <td *matCellDef="let element" mat-cell> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="identNumber">
                <th *matHeaderCellDef mat-header-cell>საიდენტიფიკაციოა #</th>
                <td *matCellDef="let element" mat-cell> {{element.identNumber}} </td>
              </ng-container>

              <ng-container matColumnDef="parcelsCount">
                <th *matHeaderCellDef mat-header-cell>გზავნილები</th>
                <td *matCellDef="let element" mat-cell> {{element.parcelsCount}} </td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th *matHeaderCellDef mat-header-cell>თანხა</th>
                <td *matCellDef="let element" mat-cell> {{element.amount}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th *matHeaderCellDef class="text-center" mat-header-cell> მოქმედება</th>
                <td *matCellDef="let element" class="action-link text-center" mat-cell>
                  <a class="m-r-10 cursor-pointer" href="invoice-generation/{{element.identNumber}}"
                     title="ინვ. შექმნა">
                    <mat-icon>playlist_add_check</mat-icon>
                    ინვ. შექმნა
                  </a>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr (dblclick)="openDialog('Add', row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50]" [pageSize]="10"
                         showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
