<h2 class="font-medium" mat-dialog-title>
  <strong>{{action === 'Add' ? 'დამატება' : action === 'Update' ? 'რედაქტირება' : ''}}</strong></h2>
<mat-dialog-content *ngIf="action != 'Delete'; else elseTemplate" class="pb-3">
  <!--  Add/Edit Dialog Content-->
  <form #userForm="ngForm" *ngIf="action != 'Details'">
    <div class="align-items-center" fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select (selectionChange)="onFromCitySelect($event.value)" [(ngModel)]="selectedObject.routeFrom.id" aria-placeholder="ქალაქიდან"
                        id="routeFrom" name="routeFrom"
                        placeholder="ქალაქიდან" required>
              <mat-option *ngFor="let z of cityList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select (selectionChange)="onToCitySelect($event.value)" [(ngModel)]="selectedObject.routeTo.id" aria-placeholder="ქალაქისკენ" id="routeTo"
                        name="routeTo" placeholder="ქალაქისკენ" required>
              <mat-option *ngFor="let z of cityList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.senderWarehouse.id" aria-placeholder="საწყობიდან" id="senderWarehouse"
                        name="senderWarehouse"
                        placeholder="საწყობიდან" required>
              <mat-option *ngFor="let z of senderWarehouseList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.destWarehouse.id" aria-placeholder="საწყობისკენ" id="destWarehouse"
                        name="destWarehouse"
                        placeholder="საწყობისკენ" required>
              <mat-option *ngFor="let z of destWarehouseList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.driver.id" aria-placeholder="მძღოლი" id="driver" name="driver"
                        placeholder="მძღოლი" required>
              <mat-option *ngFor="let z of driversList" [value]="z.id">{{z.name}}&nbsp;{{z.lastName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.car.id" aria-placeholder="ტრანსპორტი" id="car" name="car"
                        placeholder="ტრანსპორტი" required>
              <mat-option *ngFor="let z of carsList" [value]="z.id">{{z.name}} &nbsp;({{z.carNumber}})</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field appearance="fill">
            <input [(ngModel)]="selectedObject.tranzitDate" [matDatepicker]="picker" id="tranzitDate" matInput name="tranzitDate"
                   placeholder="მიუთითეთ თარიღი" required>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div align="end">
      <button (click)="doAction()" [disabled]="!userForm.valid" bg-success color="warn" mat-button
              mat-flat-button> შენახვა
      </button>
      <button (click)="closeDialog()" mat-button>დახურვა</button>
    </div>
  </form>
  <!--  Details Dialog Content -->
  <form #detailsForm="ngForm" *ngIf="action == 'Details'">
    <div class="align-items-center" fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.routeFrom.id" aria-placeholder="ქალაქიდან"
                        disabled
                        name="routeFrom" placeholder="ქალაქიდან">
              <mat-option *ngFor="let z of cityList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.routeTo.id" aria-placeholder="ქალაქისკენ" disabled
                        name="routeTo" placeholder="ქალაქისკენ">
              <mat-option *ngFor="let z of cityList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.senderWarehouse.id" aria-placeholder="საწყობიდან"
                        disabled
                        name="senderWarehouse" placeholder="საწყობიდან">
              <mat-option *ngFor="let z of senderWarehouseList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.destWarehouse.id" aria-placeholder="საწყობისკენ"
                        disabled
                        name="destWarehouse" placeholder="საწყობისკენ">
              <mat-option *ngFor="let z of destWarehouseList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.driver.id" aria-placeholder="მძღოლი" disabled
                        name="driver" placeholder="მძღოლი">
              <mat-option *ngFor="let z of driversList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.car.id" aria-placeholder="ტრანსპორტი" disabled
                        name="car" placeholder="ტრანსპორტი">
              <mat-option *ngFor="let z of carsList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input matInput name="tranzitDate" placeholder="რეისის თარიღი" readonly
                   type="text"
                   value="{{selectedObject.tranzitDate | date: 'dd/MM/yyyy HH:mm'}}">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input matInput name="createdTime" placeholder="ჩანაწერის დრო" readonly
                     type="text"
                     value="{{selectedObject.createdTime | date: 'dd/MM/yyyy HH:mm'}}">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input matInput name="updatedTime" placeholder="განახლების დრო" readonly
                     type="text"
                     value="{{selectedObject.updatedTime | date: 'dd/MM/yyyy HH:mm'}}">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div align="end">
      <button (click)="closeDialog()" mat-button>დახურვა</button>
    </div>
  </form>
</mat-dialog-content>
<ng-template #elseTemplate>
  <p>დაადასტურეთ წაშლა <b>{{selectedObject.name}}</b> ?</p>
  <div align="end" class="pt-3" mat-dialog-actions>
    <button (click)="doAction()" color="warn" mat-button mat-flat-button>წაშლა</button>
    <button (click)="closeDialog()" mat-button>გაუქმება</button>
  </div>
</ng-template>
