<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
    <mat-card>
      <mat-card-content>
        <div class="example-container m-t-20">
          <div *ngIf="isLoadingResults" class="example-loading-shade">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>

          <div class="button-row m-b-15 m-t-15">
            <button (click)="openDialog('Add',{})" color="primary" mat-raised-button>
              <mat-icon>plus_one</mat-icon>
              დამატება
            </button>
          </div>

          <div class="example-table-container responsive-table">
            <table [dataSource]="data" class="example-table striped" mat-table>

<!--              <ng-container matColumnDef="number">-->
<!--                <th *matHeaderCellDef mat-header-cell class="text-center" > რეისის #</th>-->
<!--                <td *matCellDef="let element" mat-cell class="text-center"> {{element.number}} </td>-->
<!--              </ng-container>-->

              <ng-container matColumnDef="car">
                <th *matHeaderCellDef mat-header-cell> ტრანსპორტი</th>
                <td *matCellDef="let element" mat-cell> {{element.car.name}} &nbsp;({{element.car.carNumber}})</td>
              </ng-container>

<!--              <ng-container matColumnDef="driver">-->
<!--                <th *matHeaderCellDef mat-header-cell width="15%">მძღოლი</th>-->
<!--                <td *matCellDef="let element"-->
<!--                    mat-cell>{{element.driver.name}} {{element.driver.lastName}} {{element.driver.personalNumber}} </td>-->
<!--              </ng-container>-->

              <ng-container matColumnDef="senderWarehouse">
                <th *matHeaderCellDef mat-header-cell width="15%">საწყობიდან</th>
                <td *matCellDef="let element" mat-cell> {{element.senderWarehouse.city.name}}
                  - {{element.senderWarehouse.name}} </td>
              </ng-container>

              <ng-container matColumnDef="destWarehouse">
                <th *matHeaderCellDef mat-header-cell width="15%">საწყობისკენ</th>
                <td *matCellDef="let element" mat-cell> {{element.destWarehouse.city.name}}
                  - {{element.destWarehouse.name}} </td>
              </ng-container>


              <ng-container matColumnDef="tranzitDate">
                <th *matHeaderCellDef mat-header-cell>თარიღი</th>
                <td *matCellDef="let element" mat-cell> {{element.tranzitDate | date :'shortDate'}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th *matHeaderCellDef class="text-center" mat-header-cell> მოქმედება</th>
                <td *matCellDef="let element" class="action-link text-center" mat-cell>
                  <div *ngIf="element.deleted != 1">
                    <a (click)="openDialog('Details',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>content_paste</mat-icon>
                    </a>
                    <a (click)="openDialog('StatusChange',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>done_all</mat-icon>
                    </a>
                    <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>create</mat-icon>
                    </a>
                    <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>delete_outline</mat-icon>
                    </a>
                  </div>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr (dblclick)="openDialog('Details', row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50]" [pageSize]="10"
                         showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
