<form class="doNotPrint">
  <div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex="100" fxFlex.gt-sm="100%">
      <mat-card>
        <mat-card-content>
          <mat-card-title class="p-b-20">
            <div fxFlex="100" fxFlex.gt-md="80">
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> კონფიგურაცია</mat-panel-title>
                    <mat-panel-description> კონფიგურაციის შესაცვლელად ჩამოშალეთ პანელი</mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-tab-group>
                    <mat-tab label="შტრიხკოდის ბეჭდვა">
                      <div class="align-items-center" fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-md="100">
                          <div fxFlex="100" fxFlex.gt-md="50">
                            <mat-form-field>
                              <input matInput name="barcodesCount" placeholder="მიუთითეთ დასაბეჭდი შტრიხკოდების რაოდენობა"
                                     type="number">
                            </mat-form-field>
                          </div>
                          <div fxFlex="100" fxFlex.gt-md="50">
                            <button align="start" bg-success color="warn" mat-button mat-flat-button
                                    style="margin-top: 1.5%;margin-left: 2%;">
                              ბეჭდვა
                            </button>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab label="მოც. წონის კოეფიციენტი">
                      <div class="align-items-center" fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-md="100">
                          <div fxFlex="100" fxFlex.gt-md="50">
                            <mat-form-field>
                              <input [(ngModel)]="slctedVolumeWeightIndex.amount" matInput name="volumeWeightIndex"
                                     placeholder="მიუთითეთ მოცულობითი წონის კოეფიციენტი"
                                     type="number">
                            </mat-form-field>
                          </div>
                          <div fxFlex="100" fxFlex.gt-md="50">
                            <button (click)="saveGlobalVolumeWeight()" align="start" bg-success color="warn" mat-button
                                    mat-flat-button
                                    style="margin-top: 1.5%; margin-left: 2%;">
                              შენახვა
                            </button>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="text-right" fxFlex="100" fxFlex.gt-md="20">
              <button (click)="showPrintDlg()">
                <mat-icon>local_printshop</mat-icon>
              </button>
            </div>
          </mat-card-title>

          <!--          <app-file-upload [parcelId]="selectedObject.id"></app-file-upload>-->

          <mat-vertical-stepper #stepper>
            <mat-step>
              <ng-template matStepLabel>გამგზავნი</ng-template>
              <div class="align-items-center" fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div fxFlex="100" fxFlex.gt-md="20">
                    <div class="m-r-15 m-l-15">
                      <mat-form-field>
                        <mat-icon matPrefix>search</mat-icon>
                        <input (keyup.enter)="searchContact(1)" [(ngModel)]="senderContactDto.contact.name" class="search-input"
                               id="senderContactNameSrch" matInput
                               name="senderContactNameSrch" placeholder="კონტაქტის სახელი"
                               type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-md="20">
                    <mat-form-field>
                      <input (keyup.enter)="searchContact(1)" [(ngModel)]="senderContactDto.contact.identNumber" class="search-input"
                             matInput name="senderIdentNumber"
                             placeholder=" საიდენტიფიკაციო #" type="number">
                    </mat-form-field>
                  </div>
                  <div fxFlex="100" fxFlex.gt-md="60">
                    <button (click)="searchContact(1)" [disabled]="!this.senderContactDto.contact.name && !this.senderContactDto.contact.identNumber" align="start" bg-success color="accent"
                            mat-button
                            mat-flat-button>
                      <mat-icon>search</mat-icon>
                    </button>
                    &nbsp;
                    <button (click)="resetFilters()" [disabled]="!this.senderContactDto.contact.name && !this.senderContactDto.contact.identNumber" align="start"
                            mat-button
                            mat-flat-button>
                      <mat-icon>refresh</mat-icon>
                    </button>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <mat-select (selectionChange)="onContactSelect($event.value, 1)" [(ngModel)]="senderContactDto.contact.id"
                                  [disabled]="!this.senderContactDto.contact.name && !this.senderContactDto.contact.identNumber"
                                  aria-placeholder="მოძებნილი კონტაქტი"
                                  name="senderContact" placeholder="მოძებნილი კონტაქტი"
                                  required>
                        <mat-option *ngFor="let c of searchedSenderContacts" [value]="c.id">{{c.name}}
                          ({{c.identNumber}})
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="51">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <mat-select (selectionChange)="onCityChange($event.value, 1)" [(ngModel)]="senderContactDto.contactAddress.city.id"
                                  aria-placeholder="ქალაქი" name="senderContactCity"
                                  placeholder="ქალაქი" required>
                        <mat-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input [formControl]="senderAddressCtrl" [matAutocomplete]="autoSenderAddress" matInput
                             name="senderContactAddress"
                             placeholder=" მისამართი" type="text">
                      <mat-autocomplete #autoSenderAddress="matAutocomplete">
                        <mat-option *ngFor="let state of filteredSenderAddresses | async"
                                    [value]="state.street +' '+ state.appartmentDetails">
                          <span>{{state.street}}, {{state.appartmentDetails}}</span>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input [formControl]="senderContactPersonCtrl" [matAutocomplete]="senderPersonAuto" matInput name="senderContactPerson"
                             placeholder=" საკონტაქტო პირი" type="text">
                      <mat-autocomplete #senderPersonAuto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredSenderContactPersons | async"
                                    [value]="state.contactPerson + ' ' + state.contactPersonPhone">
                          <span>{{state.contactPerson}}, {{state.contactPersonPhone}}</span>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div fxFlex="100" fxFlex.gt-md="20">
                    <div class="m-r-15 m-l-15">
                      <mat-form-field>
                        <input [(ngModel)]="senderContactDto.contactAddress.contactPersonPhone" matInput name="senderContactPhone" placeholder=" საკონტაქტო ტელეფონი"
                               type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-md="20">
                    <div class="m-r-15 m-l-15">
                      <mat-slide-toggle [(ngModel)]="senderContactDto.sendSms" name="senderSendSms"
                                        style="margin-top: 5px;">Send SMS
                      </mat-slide-toggle>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <!--                <button mat-button matStepperNext color="primary">-->
                <button (click)="validateNextStep(1, stepper)" color="primary" mat-button>
                  შემდეგი
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>მიმღები</ng-template>
              <div class="align-items-center" fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div fxFlex="100" fxFlex.gt-md="20">
                    <div class="m-r-15 m-l-15">
                      <mat-form-field>
                        <mat-icon matPrefix>search</mat-icon>
                        <input (keyup.enter)="searchContact(2)" [(ngModel)]="receiverContactDto.contact.name" class="search-input"
                               id="receiverContactNameSrch" matInput
                               name="receiverContactNameSrch" placeholder="კონტაქტის სახელი"
                               type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-md="20">
                    <mat-form-field>
                      <input (keyup.enter)="searchContact(2)" [(ngModel)]="receiverContactDto.contact.identNumber" class="search-input"
                             matInput name="receiverIdenNumber"
                             placeholder=" საიდენტიფიკაციო #" type="number">
                    </mat-form-field>
                  </div>
                  <div fxFlex="100" fxFlex.gt-md="60">
                    <button (click)="searchContact(2)" [disabled]="!this.receiverContactDto.contact.name && !this.receiverContactDto.contact.identNumber" align="start" bg-success color="accent"
                            mat-button
                            mat-flat-button>
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>

                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <mat-select (selectionChange)="onContactSelect($event.value, 2)" [(ngModel)]="receiverContactDto.contact.id"
                                  [disabled]="!this.receiverContactDto.contact.name && !this.receiverContactDto.contact.identNumber"
                                  aria-placeholder="მოძებნილი კონტაქტი"
                                  name="receiverContact" placeholder="მოძებნილი კონტაქტი"
                                  required>
                        <mat-option *ngFor="let c of searchedReceiverContacts" [value]="c.id">{{c.name}}
                          ({{c.identNumber}})
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="51">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <mat-select (selectionChange)="onCityChange($event.value, 2)" [(ngModel)]="receiverContactDto.contactAddress.city.id"
                                  aria-placeholder="ქალაქი" name="receiverContactCity"
                                  placeholder="ქალაქი" required>
                        <mat-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input [formControl]="receiverAddressCtrl" [matAutocomplete]="autoReceiverAddress" matInput name="receiverContacaddress"
                             placeholder=" მისამართი" type="text">
                      <mat-autocomplete #autoReceiverAddress="matAutocomplete">
                        <mat-option *ngFor="let state of filteredReceiverAddresses | async" [value]="state.street">
                          <span>{{state.street}}, {{state.appartmentDetails}}</span>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input [formControl]="receiverContactPersonCtrl" [matAutocomplete]="receiverPersonAuto" id="senderContactPersonInputId" matInput
                             name="receiverContactPerson"
                             placeholder=" საკონტაქტო პირი" type="text">
                      <mat-autocomplete #receiverPersonAuto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredReceiverContactPersons | async"
                                    [value]="state.contactPerson + ' ' + state.contactPersonPhone">
                          <span>{{state.contactPerson}}, {{state.contactPersonPhone}}</span>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div fxFlex="100" fxFlex.gt-md="20">
                    <div class="m-r-15 m-l-15">
                      <mat-form-field>
                        <input [(ngModel)]="receiverContactDto.contactAddress.contactPersonPhone" matInput name="receiverContactPhone" placeholder=" საკონტაქტო ტელეფონი"
                               type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-md="20">
                    <div class="m-r-15 m-l-15">
                      <mat-slide-toggle [(ngModel)]="receiverContactDto.sendSms" name="receiverSendSms"
                                        style="margin-top: 5px;">Send SMS
                      </mat-slide-toggle>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <button color="primary" mat-button matStepperPrevious>
                  <mat-icon>keyboard_arrow_up</mat-icon>
                  წინა
                </button>
                <button (click)="validateNextStep(2, stepper)" color="primary" mat-button>
                  შემდეგი
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>გადამხდელი მხარე</ng-template>
              <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                  <mat-radio-group [(ngModel)]="selectedObject.payerSide" aria-label="მიუთითეთ მხარე"
                                   name="payerSide">
                    <mat-label> &nbsp;</mat-label>
                    <mat-radio-button [value]="1"> გამგზავნი &nbsp;</mat-radio-button>
                    <mat-radio-button [value]="2"> მიმღები &nbsp;</mat-radio-button>
                    <mat-radio-button [value]="3"> მესამე პირი &nbsp;</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <br/>
              <div *ngIf="selectedObject.payerSide === 3" class="align-items-center" fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div fxFlex="100" fxFlex.gt-md="20">
                    <div class="m-r-15 m-l-15">
                      <mat-form-field>
                        <mat-icon matPrefix>search</mat-icon>
                        <input (keyup.enter)="searchContact(1)" [(ngModel)]="payerContactDto.contact.name" class="search-input"
                               id="payerContactNameSrch" matInput
                               name="payerContactNameSrch" placeholder="კონტაქტის სახელი"
                               type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="100" fxFlex.gt-md="20">
                    <mat-form-field>
                      <input (keyup.enter)="searchContact(1)" [(ngModel)]="payerContactDto.contact.identNumber" class="search-input"
                             matInput name="payerIdentNumber"
                             placeholder=" საიდენტიფიკაციო #" type="number">
                    </mat-form-field>
                  </div>
                  <div fxFlex="100" fxFlex.gt-md="60">
                    <button (click)="searchContact(1)" [disabled]="!this.payerContactDto.contact.name && !this.payerContactDto.contact.identNumber" align="start" bg-success color="accent"
                            mat-button
                            mat-flat-button>
                      <mat-icon>search</mat-icon>
                    </button>
                    &nbsp;
                    <button (click)="resetFilters()" [disabled]="!this.payerContactDto.contact.name && !this.payerContactDto.contact.identNumber" align="start"
                            mat-button
                            mat-flat-button>
                      <mat-icon>refresh</mat-icon>
                    </button>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <mat-select (selectionChange)="onContactSelect($event.value, 3)" [(ngModel)]="payerContactDto.contact.id"
                                  [disabled]="!this.payerContactDto.contact.name && !this.payerContactDto.contact.identNumber"
                                  aria-placeholder="მოძებნილი კონტაქტი"
                                  name="payerContact" placeholder="მოძებნილი კონტაქტი"
                                  required>
                        <mat-option *ngFor="let c of searchedPayerContacts" [value]="c.id">{{c.name}}
                          ({{c.identNumber}})
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="51">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <mat-select (selectionChange)="onCityChange($event.value, 3)" [(ngModel)]="payerContactDto.contactAddress.city.id"
                                  aria-placeholder="ქალაქი" name="payerContactCity"
                                  placeholder="ქალაქი" required>
                        <mat-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input [(ngModel)]="payerContactDto.contactAddress.street" matInput name="payerContactAddress"
                             placeholder=" მისამართი" type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="100">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input [(ngModel)]="payerContactDto.contactAddress.contactPerson" matInput name="payerContactPerson"
                             placeholder=" საკონტაქტო პირი" type="text">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div>
                <button color="primary" mat-button matStepperPrevious>
                  <mat-icon>keyboard_arrow_up</mat-icon>
                  წინა
                </button>
                <button (click)="validateNextStep(3, stepper)" color="primary" mat-button>
                  შემდეგი
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>ამანათი</ng-template>
              <!--              <div style="border:1px dashed #1eacbe;" >-->
              <div fxFlex="100" fxFlex.gt-md="100">
                <div class="m-r-15 m-l-15">
                  <mat-form-field fxFlex="100" fxFlex.gt-md="50">
                    <input (keyup)="addPackageRow($event.target.value)" [(ngModel)]="packagesCount" align="start" matInput
                           name="packagesCount" placeholder="რაოდენობა"
                           type="number">
                  </mat-form-field>

                  <button (click)="addPackageRow(-1)" color="accent" mat-button>
                    <mat-icon>plus_one</mat-icon>
                  </button>
                </div>
                <mat-form-field fxFlex="100" fxFlex.gt-md="20">
                  <input [(ngModel)]="selectedObject.weight" matInput name="parcelWeight"
                         placeholder="წონა" type="number">
                </mat-form-field>
              </div>
              <div style="border-bottom:1px dashed #1eacbe;">
                <table class="table table-striped table-bordered ">
                  <tbody>
                  <tr *ngFor="let dynamic of dynamicArray; let i = index;">
                    <td fxFlex="10">
                      <mat-form-field>
                        <input (keyup)="calculateVolumeWeight(i)" [(ngModel)]="dynamicArray[i].length" matInput
                               name="length{{i}}" placeholder="სიგრძე"
                               type="number"/>
                      </mat-form-field>
                    </td>
                    <td fxFlex="10">
                      <mat-form-field>
                        <input (keyup)="calculateVolumeWeight(i)" [(ngModel)]="dynamicArray[i].width" matInput
                               name="width{{i}}" placeholder="სიგანე"
                               type="number"/>
                      </mat-form-field>
                    </td>
                    <td fxFlex="10">
                      <mat-form-field>
                        <input (keyup)="calculateVolumeWeight(i)" [(ngModel)]="dynamicArray[i].height" matInput
                               name="height{{i}}" placeholder="სიმაღლე"
                               type="number"/>
                      </mat-form-field>
                    </td>
                    <td fxFlex="10">
                      <mat-form-field>
                        <input matInput name="volumeWeight{{i}}" placeholder="მოც.წონა" readonly
                               type="number" value="{{dynamicArray[i].volumeWeight}}"/>
                      </mat-form-field>
                    </td>
                    <!--                    <td>-->
                    <!--                      <mat-form-field>-->
                    <!--                        <input [(ngModel)]="dynamicArray[i].plombNumber" matInput placeholder="პლომბის #" type="text"-->
                    <!--                               name="plombNumber{{i}}"/>-->
                    <!--                      </mat-form-field>-->
                    <!--                    </td>-->
                    <!--                    <td>-->
                    <!--                      <mat-form-field>-->
                    <!--                        <input [(ngModel)]="dynamicArray[i].boxNumber" matInput placeholder="ყუთის #" type="text"-->
                    <!--                               name="boxNumber{{i}}"/>-->
                    <!--                      </mat-form-field>-->
                    <!--                    </td>-->
                    <td (click)="deletePackageRow(i)" class="cursor-pointer">
                      <mat-icon>delete_outline</mat-icon>
                    </td>
                  </tr>
                  <tr>
                    <td fxFlex="10"></td>
                    <td fxFlex="10"></td>
                    <td fxFlex="10"></td>
                    <td fxFlex="10">{{selectedObject.volumeWeight | number:'1.2-3'}}</td>
                    <td></td>
                    <!--                    <td></td>-->
                    <!--                    <td></td>-->
                  </tr>
                  </tbody>
                </table>
              </div>
              <br><br>

              <div fxFlex="100" fxFlex.gt-md="100">
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <mat-icon matPrefix>attach_money</mat-icon>
                      <input [(ngModel)]="selectedObject.gadafutvisPrice" matInput name="gadaputvisPasi" placeholder="გადაფუთვის ფასი"
                             type="number">
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <mat-form-field>
                    <input [(ngModel)]="selectedObject.totalPrice" matInput name="totalPrice"
                           placeholder=" მთლიანი ფასი " type="number">
                    <button (click)="calculateTotalPrice()" mat-button mat-stroked-button matPrefix>
                      <mat-icon>attach_money</mat-icon>
                      კალკულაცია
                    </button>
                  </mat-form-field>
                </div>
                <!--                <div fxFlex="100" fxFlex.gt-md="50">-->
                <!--                  <mat-form-field>-->
                <!--                    <input matInput type="number" name="totalPrice" [(ngModel)]="selectedObject.totalPrice"-->
                <!--                           placeholder="მთლიანი ფასი">-->
                <!--                    <button matSuffix mat-icon-button aria-label="კალკულაცია" (click)="calculateTotalPrice()">-->
                <!--                      <mat-icon>attach_money</mat-icon>-->
                <!--                    </button>-->
                <!--                  </mat-form-field>-->
                <!--                </div>-->
              </div>
              <div fxFlex="100" fxFlex.gt-md="100">
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <mat-radio-group [(ngModel)]="selectedObject.deliveryType" aria-label="ჩაბარების ტიპი"
                                     name="deilveryType">
                      <mat-label>ჩაბარების ტიპი &nbsp;</mat-label>
                      <mat-radio-button [value]="1"> მიტანა მისამართზე &nbsp;</mat-radio-button>
                      <mat-radio-button [value]="2"> მიკითხვა &nbsp;</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <mat-radio-group [(ngModel)]="selectedObject.paymentType" aria-label="გადახდის ტიპი"
                                     name="paymentType">
                      <mat-label>გადახდის ტიპი &nbsp;</mat-label>
                      <mat-radio-button [value]="1"> ინვოისი &nbsp;</mat-radio-button>
                      <mat-radio-button [value]="2"> ნაღდი &nbsp;</mat-radio-button>
                      <mat-radio-button [value]="3"> ბარათი &nbsp;</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>

              <div fxFlex="100" fxFlex.gt-md="100">
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15"><br/>
                    <mat-radio-group [(ngModel)]="selectedObject.packageType" aria-label="პაკეტის ტიპი"
                                     name="packageType">
                      <mat-label>პაკეტის ტიპი &nbsp;</mat-label>
                      <mat-radio-button [value]="1"> ამანათი &nbsp;</mat-radio-button>
                      <mat-radio-button [value]="2"> პაკეტი &nbsp;</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15"><br/>
                    <mat-radio-group [(ngModel)]="selectedObject.deliveredConfirmation" aria-label="ჩაბარების დადასტურება"
                                     name="deliveredConfirmation">
                      <mat-label> ჩაბარების დადასტურება &nbsp;</mat-label>
                      <mat-radio-button [value]="1"> კი &nbsp;</mat-radio-button>
                      <mat-radio-button [value]="2"> არა</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>

              <div fxFlex="100" fxFlex.gt-md="100">
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedObject.route.id" aria-placeholder="მარშრუტი"
                                  name="route" placeholder="მარშრუტი">
                        <mat-option *ngFor="let c of routes" [value]="c.id">{{c.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <mat-select [(ngModel)]="selectedObject.service.id" aria-placeholder="გზავნილის ტიპი"
                                  name="parcelType"
                                  placeholder="გზავნილის ტიპი">
                        <mat-option *ngFor="let c of services" [value]="c.id">{{c.name}} - {{c.price}}₾</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <!--                <div fxFlex="100" fxFlex.gt-md="50">-->
                <!--                  <div class="m-r-15 m-l-15">-->
                <!--                    <mat-form-field>-->
                <!--                      <mat-select name="sticker" [(ngModel)]="selectedObject.sticker.id" placeholder="სტიკერი"-->
                <!--                                  aria-placeholder="სტიკერი">-->
                <!--                        <mat-option *ngFor="let c of docTypes" [value]="c.id">{{c.name}}</mat-option>-->
                <!--                      </mat-select>-->
                <!--                    </mat-form-field>-->
                <!--                  </div>-->
                <!--                </div>-->
              </div>
              <div fxFlex="100" fxFlex.gt-md="100">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <textarea [(ngModel)]="selectedObject.content" aria-placeholder="შიგთავსი" matInput name="contentTextArea"
                              placeholder="შიგთავსი" rows="3"
                              type="text"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="100">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <textarea [(ngModel)]="selectedObject.comment" aria-placeholder="შენიშვნა" matInput name="comment"
                              placeholder="შენიშვნა" rows="2"
                              type="text"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <!--              <div align="center" style="margin-top: 5%;">-->
              <!--                <button mat-button bg-success mat-flat-button matStepperNext (click)="save()" color="warn"> შენახვა-->
              <!--                  <mat-icon>save</mat-icon>-->
              <!--                </button>-->
              <!--              </div>-->
            </mat-step>
          </mat-vertical-stepper>
          <div class="align-items-center align-self-center" fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-md="25"></div>
            <div fxFlex="100" fxFlex.gt-md="60">
              <button (click)="save(false, false)" bg-primary color="warn" mat-button
                      mat-flat-button>
                შენახვა
                <mat-icon>save</mat-icon>
              </button>&nbsp; &nbsp;&nbsp;
              <button (click)="save(false, true)" bg-primary color="accent" mat-button
                      mat-flat-button>
                შენახვა & კურიერთან გაგზავნა
                <mat-icon>directions_bike</mat-icon>
              </button> &nbsp; &nbsp;&nbsp;
              <button (click)="save(true, false)" bg-primary color="primary" mat-button
                      mat-flat-button>
                შენახვა & ბეჭდვა
                <mat-icon>local_printshop</mat-icon>
              </button>
            </div>
            <div class="text-right" fxFlex="100" fxFlex.gt-md="15">
              <button (click)="showPrintDlg()">
                <mat-icon>local_printshop</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>



