<mat-nav-list appAccordion>
  <mat-list-item (click)="scrollToTop()" *ngFor="let menuitem of menuItems.getMenuitem()" appAccordionLink
                 group="{{menuitem.state}}" routerLinkActive="selected">
    <a *ngIf="menuitem.type === 'link'" [routerLink]="['/', menuitem.state]" appAccordionToggle class="">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name | translate }}</span>
      <span fxFlex></span>
      <span *ngFor="let badge of menuitem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
    </a>

    <a *ngIf="menuitem.type === 'extLink'" appAccordionToggle class="" href="{{menuitem.state}}">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name | translate }}</span>
      <span fxFlex></span>
      <span *ngFor="let badge of menuitem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
    </a>
    <a *ngIf="menuitem.type === 'extTabLink'" appAccordionToggle class="" href="{{menuitem.state}}" target="_blank">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name | translate}}</span>
      <span fxFlex></span>
      <span *ngFor="let badge of menuitem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
    </a>

    <a *ngIf="menuitem.type === 'sub'" appAccordionToggle class="" href="javascript:;">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span>{{ menuitem.name | translate }}</span>
      <span fxFlex></span>
      <span *ngFor="let badge of menuitem.badge" class="label label-{{ badge.type }}">{{ badge.value }}</span>
      <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
    </a>
    <mat-nav-list *ngIf="menuitem.type === 'sub'" class="sub-item">
      <mat-list-item *ngFor="let childitem of menuitem.children; let j=index; let i = childitem"
                     routerLinkActive="selected">
        <a (click)="itemSelect[i]=j" *ngIf="childitem.type === 'link'" [routerLink]="['/', menuitem.state, childitem.state ]"
           class="relative" routerLinkActive="selected">{{ childitem.name | translate}}</a>
      </mat-list-item>
      <mat-list-item *ngFor="let childitem of menuitem.children; let j=index; let i=childitem">
        <a (click)="itemSelect[i]=j" *ngIf="childitem.type === 'subchild'" [ngClass]="j==itemSelect[i]? 'selected' : ''" class=""
           href="javascript: void(0);">
          <span>{{ childitem.name | translate }}</span>
          <span fxFlex></span>
          <mat-icon class="dd-icon">keyboard_arrow_down</mat-icon>
        </a>
        <mat-nav-list *ngIf="childitem.type === 'subchild'" class="child-sub-item">
          <mat-list-item *ngFor="let child of childitem.subchildren" routerLinkActive="selected">
            <a [routerLink]="['/', menuitem.state, childitem.state, child.state ]"
               routerLinkActive="selected">{{child.name | translate}}</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-list-item>

    </mat-nav-list>

    <div *ngIf="menuitem.type === 'saperator'" class="saperator text-muted">
      <span>{{ menuitem.name | translate }}</span>
    </div>
  </mat-list-item>
</mat-nav-list>
