<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>კონტაქტები</mat-card-title>

        <div class="example-container m-t-20">
          <div *ngIf="isLoadingResults" class="example-loading-shade">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>

          <form #filterForm="ngForm" autocomplete="off">
            <div class="align-items-center" fxLayout="row wrap">

              <div fxFlex="100" fxFlex.gt-md="20">
                <div class="m-r-15 m-l-15">
                  <button (click)="openDialog('Add',{})" color="primary" mat-raised-button>
                    <mat-icon>plus_one</mat-icon>
                    დამატება
                  </button>
                </div>
              </div>

              <div fxFlex="100" fxFlex.gt-md="20">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input (keydown.enter)="getMainData()" [(ngModel)]="srchObj.name"
                           matInput name="srchname" placeholder="სახელი" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="20">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input (keydown.enter)="getMainData()" [(ngModel)]="srchObj.identNumber"
                           matInput name="identNumber" placeholder="საიდენტ. #" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="20">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input (keydown.enter)="getMainData()" [(ngModel)]="srchObj.email"
                           matInput name="email" placeholder="ელ. ფოსტა" type="text">
                  </mat-form-field>
                </div>
              </div>

              <div fxFlex="100" fxFlex.gt-md="20">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select [(ngModel)]="srchObj.type" aria-placeholder="ტიპი"
                                (selectionChange)="getMainData()" name="type" placeholder="ტიპი" required>
                      <mat-option [value]="1">ფიზიკური</mat-option>
                      <mat-option [value]="2">იურიდიული</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="20">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select [(ngModel)]="srchObj.deReGe" aria-placeholder="დღგ"
                                (selectionChange)="getMainData()" name="deReGe" placeholder="დღგ" required>
                      <mat-option [value]="1">კი</mat-option>
                      <mat-option [value]="2">არა</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="20">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select [(ngModel)]="srchObj.hasContract" aria-placeholder="კონტრაქტი"
                                (selectionChange)="getMainData()" name="hasContract" placeholder="კონტრაქტი" required>
                      <mat-option [value]="2">კი</mat-option>
                      <mat-option [value]="1">არა</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="20">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select [(ngModel)]="srchObj.status" aria-placeholder="სტატუსი"
                                (selectionChange)="getMainData()" name="status" placeholder="სტატუსი" required>
                      <mat-option [value]="1">აქტიური</mat-option>
                      <mat-option [value]="2">პასიური</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="20">
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <button (click)="getMainData()" color="primary" mat-raised-button>
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <button (click)="clearFilters()" color="accent" mat-raised-button>
                      <mat-icon>close_outline</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <a (click)="downloadExcel()" class="m-r-10 cursor-pointer" style="float: right; height: 70px;"
             title="Export To Excel">
            <img src="Portal/assets/images/excel.png" style="height: 30px;">
          </a>
          <div class="example-table-container responsive-table">
            <table [dataSource]="data" class="example-table striped" mat-table>
              <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell> #</th>
                <td *matCellDef="let element" mat-cell> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell> სახელი</th>
                <td *matCellDef="let element" mat-cell> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="identNumber">
                <th *matHeaderCellDef mat-header-cell>საიდენტ. #</th>
                <td *matCellDef="let element" mat-cell> {{element.identNumber}} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th *matHeaderCellDef mat-header-cell>ელ. ფოსტა</th>
                <td *matCellDef="let element" mat-cell> {{element.email}} </td>
              </ng-container>

              <ng-container matColumnDef="type">
                <th *matHeaderCellDef mat-header-cell>ტიპი</th>
                <td *matCellDef="let element"
                    mat-cell> {{element.type == 1 ? 'ფიზ.' : element.type == 2 ? 'იურ.' : ''}} </td>
              </ng-container>

              <ng-container matColumnDef="user">
                <th *matHeaderCellDef mat-header-cell>ვისია</th>
                <td *matCellDef="let element"
                    mat-cell> {{element.user.name}} {{element.user.lastName}} </td>
              </ng-container>

              <ng-container matColumnDef="deReGe">
                <th *matHeaderCellDef mat-header-cell>დღგ</th>
                <td *matCellDef="let element" mat-cell>
                  <mat-icon *ngIf="element.deReGe == 1">check</mat-icon>
                  <mat-icon *ngIf="element.deReGe == 2">clear</mat-icon>
              </ng-container>

              <ng-container matColumnDef="hasContract">
                <th *matHeaderCellDef mat-header-cell>კონტრაქტი</th>
                <td *matCellDef="let element" mat-cell>
                  <mat-icon *ngIf="element.hasContract == 2">check</mat-icon>
                  <mat-icon *ngIf="element.hasContract == 1">clear</mat-icon>
              </ng-container>


              <ng-container matColumnDef="action">
                <th *matHeaderCellDef class="text-center" mat-header-cell> მოქმედება</th>
                <td *matCellDef="let element" class="action-link text-center" mat-cell>
                  <div *ngIf="element.deleted != 1">
                    <a (click)="openDialog('Details',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>content_paste</mat-icon>
                    </a>
                    <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>create</mat-icon>
                    </a>
                    <a class="m-r-10 cursor-pointer" href="contact-address/{{element.id}}">
                      <mat-icon>add_location</mat-icon>
                    </a>
                    <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>delete_outline</mat-icon>
                    </a>
                  </div>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr (dblclick)="openDialog('Details', row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50]" [pageSize]="10"
                         showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
