<h2 class="font-medium" mat-dialog-title>
  <strong>{{action === 'Add' ? 'დამატება' : action === 'Update' ? 'რედაქტირება' : ''}}</strong></h2>
<mat-dialog-content class="pb-3" *ngIf="action != 'Delete'; else elseTemplate">
  <!--  Add/Edit Dialog Content-->
  <form #userForm="ngForm" *ngIf="action != 'Details'">
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="text" matInput required id="name" name="name"
                   [(ngModel)]="selectedObject.name"
                   placeholder="დასახელება">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="text" matInput required id="identNumber" name="identNumber"
                   [(ngModel)]="selectedObject.identNumber"
                   placeholder="საიდენტიფიკაციო #">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input type="text" matInput required id="email" name="email"
                   [(ngModel)]="selectedObject.email"
                   placeholder="ელ. ფოსტა">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <mat-select [(ngModel)]="selectedObject.tariff.id" name="tariff"
                          placeholder="ტარიფი" aria-placeholder="ტარიფი" required>
                <mat-option *ngFor="let c of tariffs" [value]="c.id">{{c.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <mat-select [(ngModel)]="selectedObject.status" name="status"
                          placeholder="სტატუსი" aria-placeholder="სტატუსი" required>
                <mat-option [value]="1">აქტიური</mat-option>
                <mat-option [value]="2">პასიური</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-radio-group aria-label="ტიპი" name="type" id="type" [(ngModel)]="selectedObject.type">
            <mat-label> ტიპი&nbsp;</mat-label>
            <mat-radio-button [value]="1"> ფიზიკური &nbsp;</mat-radio-button>
            <mat-radio-button [value]="2"> იურიდიული</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-radio-group aria-label="დღგ" name="deReGe" id="deReGe" [(ngModel)]="selectedObject.deReGe">
            <mat-label> დღგ-ს გადამხდელი&nbsp;</mat-label>
            <mat-radio-button [value]="1"> კი &nbsp;</mat-radio-button>
            <mat-radio-button [value]="2"> არა</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <br><br>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-radio-group aria-label="კონტრაქტი" id="hasContract" name="hasContract"
                           [(ngModel)]="selectedObject.hasContract">
            <mat-label> კონტრაქტი &nbsp;</mat-label>
            <mat-radio-button [value]="2"> კი &nbsp;</mat-radio-button>
            <mat-radio-button [value]="1"> არა</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div align="end">
      <button mat-button bg-success (click)="doAction()" mat-flat-button color="warn"
              [disabled]="!userForm.valid"> შენახვა
      </button>
      <button mat-button (click)="closeDialog()">დახურვა</button>
    </div>
  </form>
  <!--    Details Dialog Content-->
  <form #detailsForm="ngForm" *ngIf="action == 'Details'">
    <div fxLayout="row wrap" class="align-items-center">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div fxFlex="100" fxFlex.gt-md="15">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input type="text" matInput readonly name="id"
                     [(ngModel)]="selectedObject.id"
                     placeholder="#">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="25">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input type="text" matInput readonly name="user"
                     [value]="selectedObject.user.name + ' ' + selectedObject.user.lastName"
                     placeholder="ვისია">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div fxFlex="100" fxFlex.gt-md="33">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input type="text" matInput readonly name="name"
                     [(ngModel)]="selectedObject.name"
                     placeholder="დასახელება">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="50">
          <div fxFlex="100" fxFlex.gt-md="33">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput readonly name="identNumber"
                       [(ngModel)]="selectedObject.identNumber"
                       placeholder="საიდენტიფიკაციო #">
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="33">
            <div class="m-r-15 m-l-15">
              <mat-form-field>
                <input type="text" matInput readonly name="email"
                       [(ngModel)]="selectedObject.email"
                       placeholder="კოდი">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.tariff.id" disabled name="tariff"
                        placeholder="ტარიფი" aria-placeholder="ტარიფი" required>
              <mat-option *ngFor="let c of tariffs" [value]="c.id">{{c.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <mat-select [(ngModel)]="selectedObject.status" name="status" required
                          placeholder="სტატუსი" aria-placeholder="სტატუსი" disabled>
                <mat-option [value]="1">აქტიური</mat-option>
                <mat-option [value]="2">პასიური</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input type="text" matInput readonly name="createdTime"
                     value="{{selectedObject.createdTime | date: 'short'}}"
                     placeholder="ჩანაწერის დრო">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input type="text" matInput readonly name="updatedTime"
                     value="{{selectedObject.updatedTime | date: 'short'}}"
                     placeholder="განახლების დრო">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-radio-group aria-label="ტიპი" disabled name="type1" [(ngModel)]="selectedObject.type">
              <mat-label> ტიპი &nbsp;</mat-label>
              <mat-radio-button [value]="1"> ფიზიკური &nbsp;</mat-radio-button>
              <mat-radio-button [value]="2"> იურიდიული</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-radio-group aria-label="დღგ" disabled name="deReGe1" [(ngModel)]="selectedObject.deReGe">
              <mat-label> დღგ-ს გადამხდელი &nbsp;</mat-label>
              <mat-radio-button [value]="1"> კი &nbsp;</mat-radio-button>
              <mat-radio-button [value]="2"> არა</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <br><br>
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-radio-group aria-label="კონტრაქტი" disabled name="hasContract"
                             [(ngModel)]="selectedObject.hasContract">
              <mat-label> კონტრაქტი &nbsp;</mat-label>
              <mat-radio-button [value]="2"> კი &nbsp;</mat-radio-button>
              <mat-radio-button [value]="1"> არა</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <div align="end">
      <button mat-button (click)="closeDialog()">დახურვა</button>
    </div>
  </form>
</mat-dialog-content>
<ng-template #elseTemplate>
  <p>დაადასტურეთ წაშლა <b>{{selectedObject.name}}</b> ?</p>
  <div mat-dialog-actions align="end" class="pt-3">
    <button mat-button (click)="doAction()" mat-flat-button color="warn">წაშლა</button>
    <button mat-button (click)="closeDialog()">გაუქმება</button>
  </div>
</ng-template>
