<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-tab-group (selectedTabChange)="handleTabChanges($event)">
      <mat-tab *ngFor="let serviceObj of servicesList" label="{{serviceObj.name}}">
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<mat-card>
  <mat-card-content>
    <mat-card-title>ტარიფი "{{mainObj.name}}" - ის ფასები ზონების მიხედვით</mat-card-title>
    <form #userForm="ngForm">
      <br/> <br/>

      <br/><br/>
      <div fxLayout="row wrap" class="align-items-center">
        <div fxFlex="100" fxFlex.gt-md="100" *ngFor="let row of tarifByZones; let i=index"
             style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgba(0, 0, 0, 0.12);">
          <div fxFlex="100" fxFlex.gt-md="25" style="justify-content: center; align-items: center; display: flex;">
            წონა:&nbsp;
            <input type="string" required id="weight{{i}}" name="weight{{i}}" style="margin-right: 20px;"
                   class="form-control" [(ngModel)]="row.weight" placeholder="მიუთითეთ წონა">
          </div>
          <div fxFlex="100" fxFlex.gt-md="50"
               style="padding-left: 20px; border-left-width: 1px; padding-top: 20px; padding-bottom: 20px;
               border-left-style: solid; border-left-color: rgba(0, 0, 0, 0.12);">
            <div *ngFor="let detail of row.details; let j=index;" style="padding-left: 20px; padding-top: 20px;">
              ფასი {{detail.zone.name}}-ში:
              <input placeholder="მიუთითეთ წონის ფასი {{detail.zone.name}} -ში"  required
                     id="price_{{i}}_{{j}}" name="price_{{i}}_{{j}}" [(ngModel)]="detail.price" type="number"
                     class="form-control">
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-md="15" style="justify-content: center; align-items: center; display: flex;">
            <a (click)="removeQuantity(i)" class="m-r-10 cursor-pointer">
              <mat-icon>delete_outline</mat-icon>
            </a>
          </div>
          <br/>
          <div fxFlex="100" fxFlex.gt-md="50"></div>
          <br/>
        </div>
      </div>
      <div align="center"><br/> <br/>
        <button mat-raised-button color="primary" (click)="addQuantity()">
          <mat-icon>plus_one</mat-icon>
          ახალი წონა
        </button>&nbsp;
        <button mat-button bg-success (click)="onSubmit()" mat-flat-button color="warn"
                [disabled]="!userForm.valid"> შენახვა
        </button>
      </div>
    </form>
    <!--    {{tarifByZones | json}}-->
  </mat-card-content>
</mat-card>

