<h2 class="font-medium" mat-dialog-title>
  <strong>{{action === 'Add' ? 'დამატება' : action === 'Update' ? 'რედაქტირება' : ''}}</strong></h2>
<mat-dialog-content *ngIf="action != 'Delete'; else elseTemplate" class="pb-3">
  <!--  Add/Edit Dialog Content-->
  <form #userForm="ngForm" *ngIf="action != 'Details'">
    <div class="align-items-center" fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-md="30">
        <div class="m-r-15 m-l-15">
          <mat-slide-toggle [(ngModel)]="isMainAddress" name="isPayAddress"
                            style="margin-top: 5px;">ძირითადი მისამართი
          </mat-slide-toggle>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="70">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.city.id" aria-placeholder="ქალაქი" id="city" name="city"
                        placeholder="ქალაქი" required>
              <mat-option *ngFor="let z of cities" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.street" id="street" matInput name="street" placeholder="ქუჩა"
                   required
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.postCode" id="postCode" matInput name="postCode"
                   placeholder="საფოსტო ინდექსი"
                   required
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.contactPerson" id="contactPerson" matInput name="contactPerson"
                   placeholder="საკონტაქტო პირი"
                   required
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.contactPersonPhone" id="contactPersonPhone" matInput
                   name="contactPersonPhone" placeholder="საკონტაქტო პირის ტელეფონი"
                   required
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.contactPersonEmail" id="contactPersonEmail" matInput
                   name="contactPersonEmail" placeholder="საკონტაქტო პირის ელ. ფოსტა"
                   required type="email">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.appartmentDetails" id="appartmentDetails" matInput
                   name="appartmentDetails" placeholder="დამატებითი დეტალები" type="text">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div align="end">
      <button (click)="doAction()" [disabled]="!userForm.valid" bg-success color="warn" mat-button
              mat-flat-button> შენახვა
      </button>
      <button (click)="closeDialog()" mat-button>დახურვა</button>
    </div>
  </form>
  <!--  Details Dialog Content -->
  <form #detailsForm="ngForm" *ngIf="action == 'Details'">
    <div class="align-items-center" fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-md="15">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.id" matInput name="id" placeholder="#"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="25">
        <div class="m-r-15 m-l-15">
          <mat-slide-toggle [(ngModel)]="isMainAddress" name="isPayAddress" disabled
                            style="margin-top: 5px;">ძირით. მის.
          </mat-slide-toggle>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="60">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.city.name" matInput name="name" placeholder="ქალაქი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.street" matInput name="street" placeholder="ქუჩა"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.postCode" matInput name="postCode" placeholder="საფოსტო ინდექსი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.contactPerson" matInput name="contactPerson"
                   placeholder="საკონტაქტო პირი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.contactPersonPhone" matInput name="contactPersonPhone"
                   placeholder="საკონტაქტო პირის ტელეფონი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.contactPersonEmail" matInput name="contactPersonEmail"
                   placeholder="საკონტაქტო პირის ელ. ფოსტა"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.appartmentDetails" matInput name="appartmentDetails"
                   placeholder="დამატებითი დეტალები"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input matInput name="createdTime" placeholder="ჩანაწერის დრო" readonly
                     type="text"
                     value="{{selectedObject.createdTime | date: 'dd/MM/yyyy HH:mm'}}">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input matInput name="updatedTime" placeholder="განახლების დრო" readonly
                     type="text"
                     value="{{selectedObject.updatedTime | date: 'dd/MM/yyyy HH:mm'}}">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div align="end">
      <button (click)="closeDialog()" mat-button>დახურვა</button>
    </div>
  </form>
</mat-dialog-content>
<ng-template #elseTemplate>
  <p>დაადასტურეთ წაშლა <b>{{selectedObject.name}}</b> ?</p>
  <div align="end" class="pt-3" mat-dialog-actions>
    <button (click)="doAction()" color="warn" mat-button mat-flat-button>წაშლა</button>
    <button (click)="closeDialog()" mat-button>გაუქმება</button>
  </div>
</ng-template>
