<div fxLayout="row wrap">
  <mat-card style="width: 100%;">
    <mat-card-content>
      <form #excelImportForm="ngForm">
        <div class="align-items-center" fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-md="80">
            <input *ngIf="foundedSenderContact && foundedSenderContact.id > 0" [readonly]="true" class="search-input"
                   matInput
                   name="foundedDataOutput" style="font-size: x-large"
                   type="text"
                   value="არჩეულია კომპანია: {{foundedSenderContact.name}} - #{{foundedSenderContact.identNumber}}">
          </div>
          <div align="end" fxFlex="100" fxFlex.gt-md="10">
            <a class="m-r-10 cursor-pointer" href="./assets/parcelTemplate.xlsx" style="float: right; height: 70px;"
               title="Export To Excel">
              <img src="./assets/images/excel.png" style="height: 30px;">&nbsp;&nbsp;
              <span style="margin-top: 0.2%; position: absolute;">შაბლონი</span>
            </a>
          </div>
        </div>
        <br><br>
        <div class="align-items-center" fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-md="50">
            <mat-form-field>
              <input (keyup.enter)="searchContact()" [(ngModel)]="identNumber" class="search-input"
                     matInput name="senderIdentNumber"
                     placeholder=" საიდენტიფიკაციო #" type="number">
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-md="10" fxLayoutGap="5px" style="margin: auto;">
            <button (click)="searchContact()" bg-success color="warn" mat-button mat-flat-button> ძებნა
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div fxFlex="100" fxFlex.gt-md="38" style="margin: auto;">
            <button (click)="clear()" mat-button>გასუფთავება
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div class="align-items-center" fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-md="30">
            <mat-form-field>
              <mat-select [(ngModel)]="serviceId" aria-placeholder="სერვისი" name="services"
                          placeholder="სერვისი" required>
                <mat-option *ngFor="let c of servicesList" [value]="c.id">{{c.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-md="4"></div>
          <div fxFlex="100" fxFlex.gt-md="30">
            <mat-form-field>
              <mat-select (selectionChange)="onCityChange($event.value)" [(ngModel)]="cityId"
                          aria-placeholder="ქალაქი" name="senderContactCity"
                          placeholder="ქალაქი" required>
                <mat-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-md="4"></div>
          <div fxFlex="100" fxFlex.gt-md="32">
            <mat-form-field>
              <mat-select [(ngModel)]="routeId" aria-placeholder="მარშრუტი" name="route"
                          placeholder="მარშრუტი" required>
                <mat-option *ngFor="let c of routes" [value]="c.id">{{c.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <mat-form-field>
          <input [formControl]="contactAddressControl" [matAutocomplete]="contactAddressAuto" aria-label="მისამართი" matInput
                 name="contactAddress" placeholder="მისამართი" required type="text">
          <mat-autocomplete #contactAddressAuto="matAutocomplete">
            <mat-option (onSelectionChange)="onAddressSelect(option)" *ngFor="let option of contactAddressFilteredOptions | async"
                        [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="align-items-center" fxLayout="row wrap">
          <div fxFlex="100" fxFlex.gt-md="48">
            <mat-form-field>
              <input [formControl]="contactPersonControl" [matAutocomplete]="contactPersonAuto" aria-label="საკონტაქტო პირი" matInput
                     name="contactPerson" placeholder="საკონტაქტო პირი" required type="text">
              <mat-autocomplete #contactPersonAuto="matAutocomplete">
                <mat-option *ngFor="let option of contactPersonFilteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxFlex.gt-md="4"></div>
          <div fxFlex="100" fxFlex.gt-md="48">
            <mat-form-field>
              <input [formControl]="contactPhoneControl" [matAutocomplete]="contactPhoneAuto" aria-label="ტელეფონი" matInput
                     name="contactPhone" placeholder="ტელეფონი" required type="text">
              <mat-autocomplete #contactPhoneAuto="matAutocomplete">
                <mat-option *ngFor="let option of contactPhoneFilteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>

        <!--        <div fxLayout="row wrap" class="align-items-center">-->
        <!--          <div fxFlex="100" fxFlex.gt-md="48">-->
        <!--            <mat-form-field>-->
        <!--              <mat-select name="sticker" [(ngModel)]="stickerId" placeholder="სტიკერი"-->
        <!--                          aria-placeholder="სტიკერი" required>-->
        <!--                <mat-option *ngFor="let c of stikersList" [value]="c.id">{{c.name}}</mat-option>-->
        <!--              </mat-select>-->
        <!--            </mat-form-field>-->
        <!--          </div>-->
        <!--          -->
        <!--        </div>-->


        <div *ngIf="foundedSenderContact && foundedSenderContact.id > 0 && routeId > 0">
          <div class="align-items-center" fxLayout="row wrap">
            <input #fileUpload (change)="selectFile($event)"
                   style="display: none;" type="file">
            <div class="file-upload">
              <button (click)="fileUpload.click()" class="upload-btn" color="primary"
                      mat-mini-fab>
                <mat-icon>attach_file</mat-icon>
              </button> &nbsp;
              <a (click)="fileUpload.click()">ატვირთვა</a>
            </div>
          </div>

          <div *ngIf="currentFile" class="progress my-3">
            <div [ngStyle]="{ width: progress + '%' }"
                 aria-valuemax="100" aria-valuemin="0"
                 attr.aria-valuenow="{{ progress }}" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar">
              ატვირთულია {{ progress }}% - მიმდინარეობს დამუშავება
            </div>
          </div>
        </div>
      </form>
      <br><br>
      <div class="align-items-center" fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-md="10">
          <button (click)="moveToMainTable(false, false)" [disabled]="resultsLength === 0" bg-primary color="warn" mat-button
                  mat-flat-button> გადატანა
            <mat-icon>playlist_add_check</mat-icon>
          </button>
        </div>
        <div fxFlex="100" fxFlex.gt-md="20">
          <button (click)="moveToMainTable(false, true)" [disabled]="resultsLength === 0" bg-primary color="warn" mat-button
                  mat-flat-button> გადატანა & კურიერთან გაგზავნა
            <mat-icon>directions_bike</mat-icon>
          </button>
        </div>
        <div fxFlex="100" fxFlex.gt-md="15">
          <button (click)="moveToMainTable(true, false)" [disabled]="resultsLength === 0" bg-primary color="primary" mat-button
                  mat-flat-button> გადატანა & ბეჭდვა
            <mat-icon>local_printshop</mat-icon>
          </button>
        </div>
        <div fxFlex="100" fxFlex.gt-md="55"></div>
      </div>
      <br>
      <mat-header-row></mat-header-row>
      <div *ngIf="isLoadingResults" class="example-loading-shade">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <div class="example-container m-t-20">

        <a (click)="downloadExcel()" *ngIf="resultsLength != 0" class="m-r-10 cursor-pointer"
           style="float: right; height: 70px;" title="Export To Excel">
          <img src="./assets/images/excel.png" style="height: 30px;">
        </a>
        <div class="example-table-container responsive-table">
          <table [dataSource]="data" class="example-table striped" mat-table>

            <ng-container matColumnDef="id">
              <th *matHeaderCellDef mat-header-cell> #</th>
              <td *matCellDef="let element" mat-cell> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="barCode">
              <th *matHeaderCellDef mat-header-cell> ბარკოდი</th>
              <td *matCellDef="let element" mat-cell> {{element.barCode}} </td>
            </ng-container>

            <ng-container matColumnDef="sender">
              <th *matHeaderCellDef mat-header-cell>გამგზავნი</th>
              <td *matCellDef="let element" mat-cell> {{element.sender.name}} - #{{element.sender.identNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="receiverName">
              <th *matHeaderCellDef mat-header-cell>მიმღები</th>
              <td *matCellDef="let element" mat-cell> {{element.receiverName}} - #{{element.receiverIdentNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="receiverContactPerson">
              <th *matHeaderCellDef mat-header-cell>საკონტაქტო პირი</th>
              <td *matCellDef="let element" mat-cell> {{element.receiverContactPerson}} ({{element.receiverPhone}})
              </td>
            </ng-container>

            <ng-container matColumnDef="weight">
              <th *matHeaderCellDef mat-header-cell>წონა</th>
              <td *matCellDef="let element" mat-cell> {{element.weight}}</td>
            </ng-container>

            <ng-container matColumnDef="totalPrice">
              <th *matHeaderCellDef mat-header-cell>ფასი</th>
              <td *matCellDef="let element" mat-cell> {{element.totalPrice}}</td>
            </ng-container>

            <ng-container matColumnDef="createdTime">
              <th *matHeaderCellDef mat-header-cell> შეიქმნა</th>
              <td *matCellDef="let element" mat-cell> {{element.createdTime | date :'dd/MM/yyyy HH:mm'}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th *matHeaderCellDef class="text-center" mat-header-cell> მოქმედება</th>
              <td *matCellDef="let element" class="action-link text-center" mat-cell>
                <a (click)="openDialog('Details',element)" class="m-r-10 cursor-pointer">
                  <mat-icon>content_paste</mat-icon>
                </a>
                <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                  <mat-icon>delete_outline</mat-icon>
                </a>
              </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr (dblclick)="openDialog('Details', row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
          </table>
        </div>
        <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50]" [pageSize]="10"
                       showFirstLastButtons></mat-paginator>
      </div>

    </mat-card-content>
  </mat-card>
</div>
