<h2 class="font-medium" mat-dialog-title>
  <strong>{{action === 'Add' ? 'დამატება' : action === 'Update' ? 'რედაქტირება' : ''}}</strong></h2>
<mat-dialog-content *ngIf="action != 'Delete'; else elseTemplate" class="pb-3">
  <!--  Details Dialog Content -->
  <form #detailsForm="ngForm" *ngIf="action == 'Details'">
    <div class="align-items-center" fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.id" matInput name="id" placeholder="#"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.barCode" matInput name="barCode" placeholder="ბარკოდი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.sender?.name + ' #' + selectedObject.sender.identNumber" matInput name="sender" placeholder="გამგზავნი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.receiverName + ' #' + selectedObject.receiverIdentNumber" matInput name="receiver" placeholder="მიმღები"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.receiverCity?.name" matInput name="city" placeholder="ქალაქი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.route?.name" matInput name="route" placeholder="მარშრუტი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.stiker?.name" matInput name="stiker" placeholder="სტიკერი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.receiverAddress" matInput name="address" placeholder="მისამართი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.receiverContactPerson + ' #' + selectedObject.receiverPhone" matInput name="contact" placeholder="საკონტაქტო"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.comment" matInput name="comment" placeholder="კომენტარი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.content" matInput name="content" placeholder="შიგთავსი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.count" matInput name="count" placeholder="რაოდენობა"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.weight" matInput name="weight" placeholder="წონა"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="30">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [value]="selectedObject.totalPrice" matInput name="totalPrice" placeholder="ფასი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div align="end">
      <button (click)="closeDialog()" mat-button>დახურვა</button>
    </div>
  </form>
  <div *ngIf="action === 'Print'"><br><br>
    <div class="align-items-center" fxLayout="row wrap">
      <app-print [excelImportedParcelsIdes]="importedIdes" [excelImportedPrint]="true" style="width: 100%;"></app-print>
    </div>
  </div>
</mat-dialog-content>
<ng-template #elseTemplate>
  <p>დაადასტურეთ წაშლა <b>{{selectedObject.name}}</b> ?</p>
  <div align="end" class="pt-3" mat-dialog-actions>
    <button (click)="doAction()" color="warn" mat-button mat-flat-button>წაშლა</button>
    <button (click)="closeDialog()" mat-button>გაუქმება</button>
  </div>
</ng-template>
