.mat-expansion-panel-header {
  font-size: 12px;
}

.mat-expansion-panel-header {
  height: 36px;
}

.mat-expansion-panel-content {
  font: 400 12px/0px dejavu;
}

.mat-card {
  margin-top: 0px !important;
}
