<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>ამანათი</mat-card-title>
        <div class="example-container m-t-20">
          <div *ngIf="isLoadingResults" class="example-loading-shade">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>

          <div class="button-row m-b-15 m-t-15">
            <a class="m-r-10 cursor-pointer" color="primary" href="parcel-form/0" mat-raised-button>
              <mat-icon>plus_one</mat-icon>
              დამატება
            </a>
          </div>

          <div class="example-table-container responsive-table">

            <table [dataSource]="data" class="example-table striped" mat-table>
              <ng-container matColumnDef="barCode">
                <th *matHeaderCellDef mat-header-cell> #</th>
                <td *matCellDef="let element" mat-cell> {{element.barCode}} </td>
              </ng-container>
              <ng-container matColumnDef="senderName">
                <th *matHeaderCellDef mat-header-cell> გამგზავნი</th>
                <td *matCellDef="let element" mat-cell> {{element.senderName}} </td>
              </ng-container>
              <ng-container matColumnDef="receiverName">
                <th *matHeaderCellDef mat-header-cell> მიმღები</th>
                <td *matCellDef="let element" mat-cell> {{element.receiverName}} </td>
              </ng-container>
              <ng-container matColumnDef="payerName">
                <th *matHeaderCellDef mat-header-cell> გადამხდელი</th>
                <td *matCellDef="let element" mat-cell> {{element.payerName}} </td>
              </ng-container>
              <ng-container matColumnDef="weight">
                <th *matHeaderCellDef mat-header-cell> წონა</th>
                <td *matCellDef="let element" mat-cell> {{element.weight}} </td>
              </ng-container>
              <ng-container matColumnDef="totalPrice">
                <th *matHeaderCellDef mat-header-cell> ფასი</th>
                <td *matCellDef="let element" mat-cell> {{element.totalPrice}} </td>
              </ng-container>
              <ng-container matColumnDef="status">
                <th *matHeaderCellDef mat-header-cell> სტატუსი</th>
                <td *matCellDef="let element" mat-cell> {{element.status.name}} </td>
              </ng-container>

              <ng-container matColumnDef="createdTime">
                <th *matHeaderCellDef mat-header-cell> შეიქმნა</th>
                <td *matCellDef="let element" mat-cell> {{element.createdTime | date :'dd/MM/yyyy HH:mm'}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th *matHeaderCellDef class="text-center" mat-header-cell> მოქმედება</th>
                <td *matCellDef="let element" class="action-link text-center" mat-cell>
                  <div *ngIf="element.deleted != 1">
                    <a class="m-r-10 cursor-pointer" href="parcel-details/{{element.id}}" title="დეტალურად">
                      <mat-icon>content_paste</mat-icon>
                    </a>
                    <a (click)="openDialog('statusChange',element)" class="m-r-10 cursor-pointer"
                       title="ჩექპოინტის ცვლილება">
                      <mat-icon>linear_scale</mat-icon>
                    </a>
                    <a (click)="openDialog('fileUpload',element)" class="m-r-10 cursor-pointer" title="ფაილები">
                      <mat-icon>attach_file</mat-icon>
                    </a>
                    <a class="m-r-10 cursor-pointer" href="parcel-form/{{element.id}}" title="რედაქტირება">
                      <mat-icon>create</mat-icon>
                    </a>
                    <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer" title="წაშლა">
                      <mat-icon>delete_outline</mat-icon>
                    </a>
                    <a (click)="openDialog('Print',element)" class="m-r-10 cursor-pointer" title="ბეჭდვა">
                      <mat-icon>local_printshop</mat-icon>
                    </a>
                  </div>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr (dblclick)="redirectToDetailsPage(row)" *matRowDef="let row; columns: displayedColumns;"
                  mat-row title="ჩანაწერის დეტალების სანახავად დაკლიკეთ ორჯერ"></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50]" [pageSize]="10"
                         showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
