<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
  <div class="login-register-box">
    <mat-card>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="text-center">
            <img alt="homepage" src="assets/images/logo2.png">
            <h4 class="m-t-0">გაიარეთ ავტორიზაცია</h4>
          </div>

          <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
              <mat-form-field>
                <input [formControl]="form.controls['uname']" matInput placeholder="Username" type="email">
              </mat-form-field>
              <small *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched"
                     class="text-danger support-text">მიუთითეთ უზერნეიმი</small>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
              <mat-form-field>
                <input [formControl]="form.controls['password']" matInput placeholder="Password" type="password">
              </mat-form-field>
              <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                     class="text-danger support-text">მიუთითეთ პაროლი</small>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
              <button [disabled]="!form.valid" class="btn-block btn-lg m-t-20 m-b-20" color="primary" mat-raised-button
                      type="submit">Login
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
