<h2 class="font-medium" mat-dialog-title>
  <strong>{{action === 'Add' ? 'დამატება' : action === 'Update' ? 'რედაქტირება' : ''}}</strong></h2>
<mat-dialog-content *ngIf="action != 'Delete'; else elseTemplate" class="pb-3">
  <!--  Add/Edit Dialog Content-->
  <form #userForm="ngForm" *ngIf="action != 'Details'">
    <div class="align-items-center" fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedRoles" aria-placeholder="დაშვების დონე" id="role" multiple name="role"
                        placeholder="დაშვების დონე" required>
              <mat-option *ngFor="let z of roles" [value]="z.name">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.userName" id="userName" matInput name="userName" placeholder="მომხმარებელი"
                   required title="მომხმარებლის უზერნეიმი"
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="action === 'Update'" fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-slide-toggle (change)="passChangeEnableDisable($event)"
                            [checked]="selectedObject.changePass">პაროლის შეცვლა
          </mat-slide-toggle>
        </div>
      </div>
      <div *ngIf="action === 'Add' || selectedObject.changePass" fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.password" [minLength]="5" id="password" matInput name="password" placeholder="პაროლი"
                   required title="მომხმარებლის პაროლი, მინ. 5 სიმბოლო"
                   type="password">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.name" id="name" matInput name="name" placeholder="სახელი"
                   required
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.lastName" id="lastName" matInput name="lastName" placeholder="გვარი"
                   required
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.personalNumber" id="personalNumber" matInput name="personalNumber" placeholder="პირადი #"
                   required
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.phone" id="phone" matInput name="phone" placeholder="ტელეფონი"
                   required
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select (selectionChange)="onCitySelect($event.value)" [(ngModel)]="selectedObject.city.id" aria-placeholder="ქალაქი" id="city"
                        name="city" placeholder="ქალაქი" required>
              <mat-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.warehouse.id" aria-placeholder="ფილიალი"
                        name="warehouse" placeholder="ფილიალი">
              <mat-option *ngFor="let z of warehouseList" [value]="z.id">{{z.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <mat-select [(ngModel)]="selectedObject.route.id" aria-placeholder="მარშრუტი" id="route" name="route"
                        placeholder="მარშრუტი">
              <mat-option *ngFor="let r of routes" [value]="r.id">{{r.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-radio-group [(ngModel)]="selectedObject.status.id" aria-label="სტატუსი" name="status">
            <mat-label> სტატუსი &nbsp;</mat-label>
            <mat-radio-button [value]="1"> აქტიური &nbsp;</mat-radio-button>
            <mat-radio-button [value]="2"> პასიური</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

    </div>
    <div align="end">
      <button (click)="doAction()" [disabled]="!userForm.valid" bg-success color="warn" mat-button
              mat-flat-button> შენახვა
      </button>
      <button (click)="closeDialog()" mat-button>დახურვა</button>
    </div>
  </form>
  <!--  Details Dialog Content -->
  <form #detailsForm="ngForm" *ngIf="action == 'Details'">
    <div class="align-items-center" fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-md="100">
        <div class="m-r-15 m-l-15">
          <mat-label>მომხმარებლის დაშვების დონე</mat-label>
          <mat-list fxLayout="row" role="list">
            <mat-list-item *ngFor="let r of selectedObject.role; let i = index" role="listitem">{{i + 1}})
              {{r.name}}</mat-list-item>
          </mat-list>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.userName" matInput name="userName" placeholder="მომხმარებელი"
                   readonly title="მომხმარებლის უზერნეიმი"
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.name" matInput name="name" placeholder="სახელი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.lastName" matInput name="lastName" placeholder="გვარი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.personalNumber" matInput name="personalNumber" placeholder="პირადი #"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-form-field>
            <input [(ngModel)]="selectedObject.phone" matInput name="phone" placeholder="ტელეფონი"
                   readonly
                   type="text">
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <mat-select (selectionChange)="onCitySelect($event.value)" [(ngModel)]="selectedObject.city.id" aria-placeholder="ქალაქი" disabled
                          name="city" placeholder="ქალაქი" required>
                <mat-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="100">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <mat-select [(ngModel)]="selectedObject.warehouse.id" aria-placeholder="ფილიალი" disabled
                          name="warehouse" placeholder="ფილიალი">
                <mat-option *ngFor="let z of warehouseList" [value]="z.id">{{z.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <mat-select [(ngModel)]="selectedObject.route.id" aria-placeholder="მარშრუტი" disabled name="route"
                          placeholder="მარშრუტი">
                <mat-option *ngFor="let r of routes" [value]="r.id">{{r.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="100">
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input matInput name="createdTime" placeholder="ჩანაწერის დრო" readonly
                     type="text"
                     value="{{selectedObject.createdTime | date: 'short'}}">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-md="50">
          <div class="m-r-15 m-l-15">
            <mat-form-field>
              <input matInput name="updatedTime" placeholder="განახლების დრო" readonly
                     type="text"
                     value="{{selectedObject.updatedTime | date: 'short'}}">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-md="50">
        <div class="m-r-15 m-l-15">
          <mat-radio-group [(ngModel)]="selectedObject.status.id" aria-label="სტატუსი" disabled name="status">
            <mat-label> სტატუსი &nbsp;</mat-label>
            <mat-radio-button [value]="1"> აქტიური &nbsp;</mat-radio-button>
            <mat-radio-button [value]="2"> პასიური</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
    <div align="end">
      <button (click)="closeDialog()" mat-button>დახურვა</button>
    </div>
  </form>
</mat-dialog-content>
<ng-template #elseTemplate>
  <p>დაადასტურეთ წაშლა <b>{{selectedObject.name}}</b> ?</p>
  <div align="end" class="pt-3" mat-dialog-actions>
    <button (click)="doAction()" color="warn" mat-button mat-flat-button>წაშლა</button>
    <button (click)="closeDialog()" mat-button>გაუქმება</button>
  </div>
</ng-template>
