<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
    <mat-card>
      <mat-card-content>
        <div class="example-container m-t-20">
          <div *ngIf="isLoadingResults" class="example-loading-shade">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <form #filterForm="ngForm" autocomplete="off">
            <div class="align-items-center" fxLayout="row wrap">

              <div fxFlex="100" fxFlex.gt-md="10">
                <div class="m-r-15 m-l-15">
                  <button (click)="openDialog('Add',{})" color="primary" mat-raised-button>
                    <mat-icon>plus_one</mat-icon>
                    დამატება
                  </button>
                </div>
              </div>

              <div fxFlex="100" fxFlex.gt-md="21">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select [(ngModel)]="srchObj.role" aria-placeholder="დაშვების დონე"
                                name="srchrole" placeholder="დაშვების დონე">
                      <mat-option *ngFor="let z of roles" [value]="z.name">{{z.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div fxFlex="100" fxFlex.gt-md="22">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input [(ngModel)]="srchObj.name" matInput name="srchname" placeholder="სახელი" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="22">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input [(ngModel)]="srchObj.lastName" matInput name="srchlastName" placeholder="გვარი"
                           type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="25">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input [(ngModel)]="srchObj.personalNumber" matInput minlength="9"
                           name="srchpersonalNumber" placeholder="საიდენტიფიკაციო #" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="15">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input [(ngModel)]="srchObj.phone" matInput name="srchphone" placeholder="ტელეფონი"
                           type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="25">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select (selectionChange)="onCitySelect($event.value)" [(ngModel)]="srchObj.city.id"
                                aria-placeholder="ქალაქი" name="srchcity" placeholder="ქალაქი">
                      <mat-select-filter (filteredReturn)="filteredSenderCitiesList =$event" [array]="cities"
                                         [displayMember]="'name'"
                                         [placeholder]="'ძებნა'"></mat-select-filter>
                      <mat-option *ngFor="let c of filteredSenderCitiesList" [value]="c.id">{{c.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="25">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select [(ngModel)]="srchObj.warehouse.id" aria-placeholder="ფილიალი"
                                name="srchwarehouse" placeholder="ფილიალი">
                      <mat-option *ngIf="warehouseList?.length < 1">მიუთითეთ ქალაქი</mat-option>
                      <mat-option *ngFor="let z of warehouseList" [value]="z.id">{{z.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="25">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select [(ngModel)]="srchObj.route.id" aria-placeholder="მარშრუტი" name="srchroute"
                                placeholder="მარშრუტი">
                      <mat-option *ngIf="routes?.length < 1">მიუთითეთ ქალაქი</mat-option>
                      <mat-option *ngFor="let r of routes" [value]="r.id">{{r.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div fxFlex="100" fxFlex.gt-md="10">
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <button (click)="getMainData()" color="primary" mat-raised-button>
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <button (click)="clearFilters()" color="accent" mat-raised-button>
                      <mat-icon>close_outline</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="example-table-container responsive-table">
            <table [dataSource]="data" class="example-table striped" mat-table>
              <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell> #</th>
                <td *matCellDef="let element" mat-cell> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="userName">
                <th *matHeaderCellDef mat-header-cell>მომხმარებელი</th>
                <td *matCellDef="let element" mat-cell> {{element.userName}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell> სახელი</th>
                <td *matCellDef="let element" mat-cell> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <th *matHeaderCellDef mat-header-cell> გვარი</th>
                <td *matCellDef="let element" mat-cell> {{element.lastName}} </td>
              </ng-container>

              <ng-container matColumnDef="personalNumber">
                <th *matHeaderCellDef mat-header-cell>საიდენტიფიკაციო #</th>
                <td *matCellDef="let element" mat-cell> {{element.personalNumber}} </td>
              </ng-container>

              <ng-container matColumnDef="phone">
                <th *matHeaderCellDef mat-header-cell>ტელეფონი</th>
                <td *matCellDef="let element" mat-cell> {{element.phone}} </td>
              </ng-container>

              <ng-container matColumnDef="city">
                <th *matHeaderCellDef mat-header-cell>ქალაქი</th>
                <td *matCellDef="let element" mat-cell> {{element.city.name}} </td>
              </ng-container>

              <ng-container matColumnDef="route">
                <th *matHeaderCellDef mat-header-cell>მარშრუტი</th>
                <td *matCellDef="let element" mat-cell> {{element.route?.name}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th *matHeaderCellDef class="text-center" mat-header-cell> მოქმედება</th>
                <td *matCellDef="let element" class="action-link text-center" mat-cell>
                  <div *ngIf="element.deleted != 1">
                    <a (click)="openDialog('Details',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>content_paste</mat-icon>
                    </a>
                    <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>create</mat-icon>
                    </a>
                    <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>delete_outline</mat-icon>
                    </a>
                  </div>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr (dblclick)="openDialog('Details', row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50]" [pageSize]="10"
                         showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
