<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div [dir]="dir" [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'dark': dark}"
     class="main-container">
  <!-- ============================================================== -->
  <!-- Topbar - style you can find in header.scss -->
  <!-- ============================================================== -->
  <mat-toolbar class="topbar telative" color="primary">
    <div class="w-100 fix-width-for-horizontal">
      <!-- ============================================================== -->
      <!-- Logo - style you can find in header.scss -->
      <!-- ============================================================== -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/" style="padding: 0px !important;">
          <!-- Logo icon -->
          <!--          <b>-->
          <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
          <!-- Dark Logo icon asd-->
          <!--            <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">-->
          <!--            <img src="assets/images/logo.png" alt="homepage" style="height: 37px;" class="dark-logo">-->
          <!-- Light Logo icon -->
          <!--            <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">-->
          <a href="/"><img alt="homepage" class="light-logo"
                           src="Portal/assets/images/logo.png"
                           style="height: 41px; margin: 0 auto; width: 152px;"> </a>
          <!--          </b>-->
          <!--End Logo icon -->
          <!-- Logo text -->
          <span fxShow="false" fxShow.gt-xs>
            <!-- dark Logo text -->
            <!--            <img src="assets/images/logo2.png" alt="homepage" class="dark-logo">-->
            <!--            <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">-->
            <!-- Light Logo text -->
            <!--            <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">-->
            <!--            <img src="assets/images/logo2.png" class="light-logo" alt="homepage">-->
          </span>
        </a>
      </div>
      <!-- ============================================================== -->
      <!-- sidebar toggle -->
      <!-- ============================================================== -->

      <button (click)="snav.toggle() && clickEvent()" class="sidebar-toggle" mat-icon-button value="sidebarclosed">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- ============================================================== -->
      <!-- Search - style you can find in header.scss -->
      <!-- ============================================================== -->
      <!--      <button mat-icon-button class="srh-btn" (click)="showSearch = !showSearch">-->
      <!--        <mat-icon>search</mat-icon>-->
      <!--      </button>-->
      <!--      <form class="app-search" [ngClass]="{'show-search': showSearch}">-->
      <!--        <input type="text" class="form-control" placeholder="Search &amp; enter">-->
      <!--        <a class="cl-srh-btn" (click)="showSearch = !showSearch">-->
      <!--          <i class="ti-close"></i>-->
      <!--        </a>-->
      <!--      </form>-->
      <span fxFlex></span>
      <!-- ============================================================== -->
      <!-- app header component - style you can find in header.scss / header.component.ts-->
      <!-- ============================================================== -->
      <!--      <div *ngIf="!horizontal else horizontalheader">-->
      <!--        <app-vertical-header></app-vertical-header>-->
      <!--      </div>-->

      <!--      <ng-template #horizontalheader>-->
      <!--        <app-horizontal-header></app-horizontal-header>-->
      <!--      </ng-template>-->

      <span fxFlex> <button class="ml-xs overflow-visible" mat-icon-button>
        <mat-icon>person_outline</mat-icon>
        <span>&nbsp;&nbsp;{{currentUser.name}}&nbsp;{{currentUser.lastName}}</span>
      </button>
      </span>
      <span fxFlex></span>

      <button (click)="logout()" class="ml-xs overflow-visible" mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <!-- ============================================================== -->
      <!-- Right sidebar toggle - style you can find in rightsidebar.component.scss -->
      <!-- ============================================================== -->
      <button (click)="end.toggle()" class="ml-xs overflow-visible" mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>

  </mat-toolbar>
  <!-- ============================================================== -->
  <!-- End Topbar - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <mat-sidenav-container [ngClass]="{'minisidebar': minisidebar}" [style.marginTop.px]="mobileQuery.matches ? 0 : 0"
                         class="example-sidenav-container">
    <!-- ============================================================== -->
    <!-- Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->
    <mat-sidenav #snav (close)="sidebarOpened = false" (open)="sidebarOpened = true" [disableClose]="mobileQuery.matches" [mode]="mobileQuery.matches ? 'side' : 'over'"
                 [opened]="mobileQuery.matches" class="pl-xs" fixedTopGap="0"
                 id="snav">

      <perfect-scrollbar [config]="config" class="scbar">
        <app-vertical-sidebar class="app-sidebar"></app-vertical-sidebar>
      </perfect-scrollbar>


    </mat-sidenav>
    <!-- ============================================================== -->
    <!-- Sidebar - style you can find in sidebar.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right Sidebar - style you can find in rightsidebar.component.scss -->
    <!-- ============================================================== -->
    <mat-sidenav #end class="chat-panel" mode="over" opened="false" position="end">
      <div class="scroll">
        <mat-nav-list>

          <h3 class="text-uppercase font-weight-bold" mat-subheader>პარამეტრები</h3>
          <mat-list-item>
            <mat-slide-toggle [(ngModel)]="minisidebar">მენიუს შემცირება</mat-slide-toggle>
          </mat-list-item>
          <mat-divider></mat-divider>
          <h3 class="text-uppercase font-weight-bold" mat-subheader>სტილი</h3>
          <!--          <mat-list-item>-->
          <!--            <mat-checkbox color="warn" [(ngModel)]="danger" (change)="green = blue = false" class="text-danger">Red-->
          <!--            </mat-checkbox>-->
          <!--          </mat-list-item>-->
          <mat-list-item>
            <mat-checkbox (change)="danger = blue = false" [(ngModel)]="green" class="text-megna" color="warn">მწვანე
            </mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox (change)="green = danger = false" [(ngModel)]="blue" class="text-info" color="warn">ლურჯი
            </mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox (change)="green = blue = danger = false" [(ngModel)]="dark" color="warn">მუქი</mat-checkbox>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-content [ngClass]="status ? 'minitoggle' : ''" class="page-wrapper">

      <div class="page-content">
        <router-outlet>
          <app-spinner></app-spinner>
        </router-outlet>

      </div>
    </mat-sidenav-content>
    <!-- ============================================================== -->
    <!-- Page container - style you can find in pages.scss -->
    <!-- ============================================================== -->
  </mat-sidenav-container>
</div>
