<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
    <mat-card>
      <mat-card-content>
        <div class="example-container m-t-20">
          <div *ngIf="isLoadingResults" class="example-loading-shade">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <div class="button-row m-b-15 m-t-15">
            <button (click)="openDialog('Add',{})" color="primary" mat-raised-button>
              <mat-icon>plus_one</mat-icon>
              დამატება
            </button>
          </div>
          <div class="example-table-container responsive-table">
            <table [dataSource]="data" class="example-table striped" mat-table>
              <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell> #</th>
                <td *matCellDef="let element" mat-cell> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell> სახელი</th>
                <td *matCellDef="let element" mat-cell> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="updatedTime">
                <th *matHeaderCellDef mat-header-cell> განახლდა</th>
                <td *matCellDef="let element" mat-cell> {{element.updatedTime | date :'short'}} </td>
              </ng-container>

              <ng-container matColumnDef="createdTime">
                <th *matHeaderCellDef mat-header-cell> შეიქმნა</th>
                <td *matCellDef="let element" mat-cell> {{element.createdTime | date :'short'}} </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th *matHeaderCellDef class="text-center" mat-header-cell> მოქმედება</th>
                <td *matCellDef="let element" class="action-link text-center" mat-cell>
                  <div *ngIf="element.deleted != 1">
                    <a (click)="openDialog('Details',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>content_paste</mat-icon>
                    </a>
                    <a (click)="openDialog('Update',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>create</mat-icon>
                    </a>
                    <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                      <mat-icon>delete_outline</mat-icon>
                    </a>
                  </div>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr (dblclick)="openDialog('Details', row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50]" [pageSize]="10"
                         showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
