<div id="printDelDetailsDivId" style="size: A4; display: none;">
  <table style="width: 100%; font-size: 10px">
    <tr>
      <td style="text-align: center">
        <ngx-barcode *ngFor="let bcValue of barcodeToStrArray()" [bc-display-value]="true"
                     [bc-height]="50" [bc-value]="bcValue"></ngx-barcode>
      </td>
      <td><H4>ჩაბარების ფურცელი</H4>
        <br>
        შექმნის თარიღი: {{selectedObject.createdTime | date :'dd-MM-yyyy HH:mm'}}
        <br>
        მარშრუტი: {{selectedObject.route?.name}}
      </td>
      <td>
        <img src="Portal/assets/images/logo.png" style="width: 200px;">
      </td>
    </tr>
  </table>
  <table cellspacing="0" id="detailsPrintDataTable">
    <tr>
      <th>მიმღები</th>
      <th>ტრეკინგ #</th>
      <th>რაოდ.</th>
      <th>გამგზ.</th>
      <th>წონა</th>
      <th>კოდი</th>
      <th>ხელმომწერი<br>/მინდობილი პირი<br>/თანამდებობა</th>
    </tr>
    <tr>
      <th>ქალაქი/ტელეფონი</th>
      <th>მისამართი</th>
      <th>დასტ<br>ური</th>
      <th>პროდ</th>
      <th>აღ. თარიღი</th>
      <th>დრო</th>
      <th>სახ. გვარი - პ.ნ.</th>
    </tr>
    <ng-container *ngFor="let p of selectedObject.parcels let i=index">
      <tr>
        <td>{{p.receiverName}}</td>
        <td>{{p.barCode}}</td>
        <td>{{p.count}}</td>
        <td> sender Warehouse?</td>
        <td> {{p.weight}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>{{p.receiverCity?.name}} {{p.receiverPhone}}</td>
        <td>{{p.receiverAddress}}</td>
        <td>{{p.deliveredConfirmation === 1 ? 'კი' : 'არა'}}</td>
        <td>{{p.packageType === 1 ? 'ამანათი' : p.packageType === 2 ? 'პაკეტი' : ''}}</td>
        <td> pickup Date?</td>
        <td></td>
        <td></td>
      </tr>
    </ng-container>
  </table>
</div>

<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>ჩაბარების დეტალები</mat-card-title>
        <div class="example-container m-t-20">
          <form #detailsForm="ngForm">
            <div class="align-items-right" fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-md="100">
                <div fxFlex="100" fxFlex.gt-md="20">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input [(ngModel)]="selectedObject.detailBarCode" id="detailBarCode" matInput name="detailBarCode"
                             placeholder="დოკუმენტის ბარკოდი"
                             readonly required
                             type="text">
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="20">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input id="currentDate" matInput name="currentDate" placeholder="თარიღი" readonly
                             type="text"
                             value="{{currentDate | date: 'dd-MM-yyyy'}}">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="33">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select (selectionChange)="onUserSelect($event.value)" [(ngModel)]="selectedUser"
                                aria-placeholder="აირჩიეთ მომხმარებელი"
                                id="selectedUserId" name="selectedUserId"
                                placeholder="აირჩიეთ მომხმარებელი" required>
                      <mat-option *ngFor="let z of usersList" [value]="z">{{z.name}} {{z.lastName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="33">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select [(ngModel)]="selectedObject.warehouse.id" aria-placeholder="საწყობი" name="warehouse"
                                placeholder="საწყობი" required>
                      <mat-option *ngFor="let z of warehouseList" [value]="z.id">{{z.id}} {{z.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="33">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select [(ngModel)]="selectedObject.route.id" aria-placeholder="მარშრუტი" id="route"
                                name="route"
                                placeholder="მარშრუტი" required>
                      <mat-option *ngFor="let r of routes" [value]="r.id">{{r.id}} {{r.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!--              <div fxFlex="100" fxFlex.gt-md="40"></div>-->
              <div fxFlex="100" fxFlex.gt-md="20">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input [(ngModel)]="parcelBarCode" id="parcelBarCode" matInput name="parcelBarCode"
                           placeholder="ამანათის ბარკოდი" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="40">
                <button (click)="bindParcelToDetail()" color="accent"
                        mat-raised-button title="ამანათის მიბმა">
                  <mat-icon>playlist_add_check</mat-icon>
                  სიაში ამანათის დამატება
                </button>
              </div>
              <div class="text-right" fxFlex="100" fxFlex.gt-md="40">
                <button (click)="saveDeliveryDetail()" [disabled]="!detailsForm.valid" color="warn"
                        mat-raised-button title="შენახვა">
                  <mat-icon>save</mat-icon>
                  შენახვა
                </button>
              </div>

              <div fxFlex="100" fxFlex.gt-md="40">
                სიაში არსებული ამანათები:
                <ol>
                  <li *ngFor="let p of selectedObject.parcels">{{p.barCode}}</li>
                </ol>
              </div>
            </div>
          </form>

          <div *ngIf="isLoadingResults" class="example-loading-shade">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <br><br>
          <mat-divider></mat-divider>
          <br><br>
          <mat-card-title>დაბეჭდილი ჩაბარების დეტალები</mat-card-title>
          <form #filterForm="ngForm" autocomplete="off">
            <div class="align-items-center" fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-md="15">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input [(ngModel)]="srchObj.detailBarCode" matInput name="srchBarcode"
                           (keydown.enter)="getMainData()"
                           placeholder="საიდენტ. #" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="15">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <input [(ngModel)]="srchObj.parcelBarCode" matInput name="srchParcelBarcode"
                           (keydown.enter)="getMainData()"
                           placeholder="ამანათის საიდენტ. #" type="text">
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="15">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select (selectionChange)="onCitySelect()" aria-placeholder="ქალაქი" name="srchcity"
                                [(ngModel)]="srchCityId" placeholder="ქალაქი">
                      <mat-select-filter (filteredReturn)="filteredSenderCitiesList =$event" [array]="cities"
                                         [displayMember]="'name'"
                                         [placeholder]="'ძებნა'"></mat-select-filter>
                      <mat-option *ngFor="let c of filteredSenderCitiesList" [value]="c.id">{{c.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="15">
                <div class="m-r-15 m-l-15">
                  <mat-form-field>
                    <mat-select [(ngModel)]="srchObj.routeId" aria-placeholder="მარშრუტი" name="srchroute"
                                (ngModelChange)="getMainData()" placeholder="მარშრუტი">
                      <mat-option *ngIf="routes?.length < 1">მიუთითეთ ქალაქი</mat-option>
                      <mat-option *ngFor="let r of routes" [value]="r.id">{{r.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div fxFlex="100" fxFlex.gt-md="30">
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input [ngxMatDatetimePicker]="picker3" [formControl]="dateControl3"
                             matInput (keydown.enter)="getMainData()" name="createdTime"
                             placeholder="ოპერაციის დრო -დან" type="text">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <ngx-mat-datetime-picker #picker3 [showSpinners]="true" [showSeconds]="false"
                                               [touchUi]="false" [enableMeridian]="false">
                      </ngx-mat-datetime-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <div class="m-r-15 m-l-15">
                    <mat-form-field>
                      <input [ngxMatDatetimePicker]="picker4" [formControl]="dateControl4"
                             matInput (keydown.enter)="getMainData()" name="createdTimeTo" placeholder="-მდე"
                             type="text">
                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                      <ngx-mat-datetime-picker #picker4 [showSpinners]="true" [showSeconds]="false"
                                               [touchUi]="false" [enableMeridian]="false">
                      </ngx-mat-datetime-picker>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div fxFlex="100" fxFlex.gt-md="10">
                <div fxFlex="100" fxFlex.gt-md="50">
                  <button (click)="getMainData()" color="primary" mat-raised-button>
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50">
                  <button (click)="clearFilters()" color="accent" mat-raised-button>
                    <mat-icon>close_outline</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </form>


          <div class="example-table-container responsive-table">
            <table [dataSource]="data" class="example-table striped" mat-table>
              <ng-container matColumnDef="detailBarCode">
                <th *matHeaderCellDef mat-header-cell> ბარკოდი #</th>
                <td *matCellDef="let element" mat-cell> {{element.detailBarCode}} </td>
              </ng-container>
              <ng-container matColumnDef="user">
                <th *matHeaderCellDef mat-header-cell> მომხმარებელი</th>
                <td *matCellDef="let element" mat-cell> {{element.user?.name}} {{element.user?.lastName}} </td>
              </ng-container>
              <ng-container matColumnDef="createdTime">
                <th *matHeaderCellDef mat-header-cell> თარიღი</th>
                <td *matCellDef="let element" mat-cell> {{element.createdTime | date :'dd-MM-yyyy'}} </td>
              </ng-container>

              <ng-container class="text-center" matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell> მოქმედება</th>
                <td *matCellDef="let element" class="action-link" mat-cell>
                  <div>
                    <a (click)="openDialog('Details', element)" class="m-r-10 cursor-pointer" title=" დეტალურად">
                      <mat-icon>content_paste</mat-icon>
                    </a>
                    <a (click)="printDetails(element)" class="m-r-10 cursor-pointer" title=" ბეჭდვა">
                      <mat-icon>local_printshop</mat-icon>
                    </a>
                    <a (click)="deleteImportedRow(element)" class="m-r-10 cursor-pointer" title=" წაშლა">
                      <mat-icon>delete_outline</mat-icon>
                    </a>
                  </div>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
              <tr (dblclick)="openDialog('Details', row)" *matRowDef="let row; columns: displayedColumns;"
                  mat-row title="ჩანაწერის დეტალების სანახავად დაკლიკეთ ორჯერ"></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 50]" [pageSize]="10"
                         showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
